

.shoppingList {
    padding-left: 20px;
    margin: 20px;
}

.recipeItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.label {
    margin: 0;
}

.label.checked {
    text-decoration: line-through;
    color: grey;
}